<div class="top-bar">
  <div class="top-inner">
    <img src="{{ '/image/RALLY_logo.jpg' | relative_url }}" alt="RALLY Logo" class="logo" />
    <button class="menu-toggle" aria-expanded="false" aria-label="Toggle navigation menu">☰ Menu</button>
    <nav>
      <a href="{{ '/index.html' | relative_url }}">HOME</a>
      <a href="{{ '/coaches.html' | relative_url }}">TRAINING</a>
      <div class="dropdown">
        <a href="#events">EVENTS ▾</a>
        <div class="dropdown-content">
          <a href="{{ '/2026.html' | relative_url }}" target="_blank">2026 Tournament</a>
          <a href="{{ '/2025D.html' | relative_url }}" target="_blank">2025 Doubles Tournament</a>
          <a href="{{ '/2025.html' | relative_url }}" target="_blank">2025 Tournament</a>
          <a href="{{ '/2024.html' | relative_url }}" target="_blank">2024 Tournament</a>
        </div>
      </div>
      <a href="{{ '/inclusive/index.html' | relative_url }}">IMPACT</a>
      <a href="{{ '/achievements.html' | relative_url }}">ACHIEVEMENTS</a>
      <a href="{{ '/index.html#contacts' | relative_url }}">CONTACT</a>
    </nav>
  </div>
</div>
